name: Check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

permissions:
  contents: read

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Checking Code Quality
        run: bun run qc

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        surrealdb: ["v2.0.5", "v2.1.8", "v2.2.7", "v2.3.7", "v3.0.0", "nightly"]
        engine: ["ws", "http"]
    steps:
      - name: Install SurrealDB ${{ matrix.surrealdb }} over ${{ matrix.engine }} engine
        run: |
          if [ "${{ matrix.surrealdb }}" = "nightly" ]; then
            curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --nightly
          else
            curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --version ${{ matrix.surrealdb }}
          fi

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun run test
        env:
          SURREAL_PROTOCOL: ${{ matrix.engine }}

  test-wasm:
    name: Test WASM
    runs-on: runner-arm64-2xlarge
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown

      - name: Install wasm-bindgen-cli
        run: cargo install -f wasm-bindgen-cli --version 0.2.101

      - name: Install wasm-opt
        run: cargo install wasm-opt

      - name: Install dependencies
        run: bun install

      - name: Run WASM tests
        run: bun run test:wasm

  test-node:
    name: Test Node
    runs-on: runner-arm64-2xlarge
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.21

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install dependencies
        run: bun install

      - name: Run Node tests
        run: bun run test:node
