name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    quality:
        name: Code Quality
        runs-on: ubuntu-latest
        steps:
            - name: Install Bun
              uses: oven-sh/setup-bun@v2

            - name: Code Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: bun install

            - name: Checking Code Quality
              run: bun run quality:check

    test:
        name: Test
        runs-on: ubuntu-latest
        strategy:
            matrix:
                surrealdb: ["v1.4.2", "v1.5.3", "v2.0.2"]
                engine: ["ws", "http"]
        steps:
            - name: Install SurrealDB ${{ matrix.surrealdb }} over ${{ matrix.engine }} engine
              run: curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --version ${{ matrix.surrealdb }}

            - name: Install Bun
              uses: oven-sh/setup-bun@v2

            - name: Code Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: bun install

            - name: Run tests
              run: bun test
              env:
                SURREAL_PROTOCOL: ${{ matrix.engine }}

    dry-run-jsr-publish:
        name: JSR Publish Dry Run
        runs-on: ubuntu-latest
        steps:
            - name: Install Bun
              uses: oven-sh/setup-bun@v2

            - name: Code Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: bun install

            - name: Generate JSR config
              run: bun run jsr

            - name: Dry run publish to JSR
              run: bunx jsr publish --dry-run

    dry-run-npm-publish:
        name: NPM Publish Dry Run
        runs-on: ubuntu-latest
        steps:
            - name: Install Bun
              uses: oven-sh/setup-bun@v2

            - uses: actions/setup-node@v4
              with:
                node-version: '18.x'
                registry-url: 'https://registry.npmjs.org'

            - name: Code Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: bun install

            - name: Build library
              run: bun run build

            - name: Dry run publish to NPM
              run: npm publish --dry-run --tag $(npm pkg get version | tr -d '"' | grep -qoE "^\d+\.\d+\.\d+$" && echo 'latest' || echo 'beta')
              env:
                NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Install Bun
              uses: oven-sh/setup-bun@v2

            - name: Code Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: bun install

            - name: Build library
              run: bun run build
