name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Checking Code Quality
        run: bun run qc

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        surrealdb: ["v2.0.5", "v2.1.5", "v2.3.1"]
        engine: ["ws", "http"]
    steps:
      - name: Install SurrealDB ${{ matrix.surrealdb }} over ${{ matrix.engine }} engine
        run: curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --version ${{ matrix.surrealdb }}

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Build packages
        run: bun run build

      - name: Run tests
        run: bun run test
        env:
          SURREAL_DEFAULT_PROTOCOL: ${{ matrix.engine }}

  dry-run-jsr-publish:
    name: JSR Publish Dry Run
    runs-on: ubuntu-latest
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Generate JSR config
        run: bun run jsr

      - name: Dry run publish to JSR
        run: bunx jsr publish --dry-run

  dry-run-npm-publish:
    name: NPM Publish Dry Run
    runs-on: ubuntu-latest
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Build library
        run: bun run build

      - name: Dry run publish to NPM
        run: npm publish --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun install

      - name: Build library
        run: bun run build
